<div class="app-body">
  <main >
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="https://res.cloudinary.com/teepublic/image/private/s--LO1tAuQG--/t_Preview/b_rgb:eae0c7,c_limit,f_jpg,h_630,q_90,w_630/v1503610845/production/designs/1848893_1.jpg" class="img-thumbnail rounded-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the thoitiet.
        </div>
        
        <form >
          <div class="form-group row">
            <label class="col-md-3 col-form-label">First name:</label>
            <div class="col-md-8 ">
              <input class="form-control" type="text" value="Lê">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Last name:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="Vọng">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Email:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="kivong@gmail.com">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Ngày:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="kivong">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
		</div>    
		</div>
		</div>
		</div>
  </main>
</div>
