<div class="container-fluid">
  <p-galleria [images]="images" styleClass="completa" panelWidth="500" panelHeight="313" [showFilmstrip]="true"
  [showCaption]="false"></p-galleria>
</div>
<div>
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 example-col">
                  <p class="k-block" style="background-color: #787878; color: #ffffff;">
                    <button kendoButton (click)="Themmoisanpham($event)" look="flat">Dự báo thời tiết sắp diễn ra</button>
                    </p>
                </div>
        </div>
    <kendo-grid [data]="gridData"
 [pageSize]="state.take"
  [skip]="state.skip"
   [sort]="state.sort"
    [filter]="state.filter"
[sortable]="true"
 [pageable]="true"
  [filterable]="true"
  (dataStateChange)="dataStateChange($event)">
  
          <kendo-grid-column field="ngay" title="Ngày">
            <ng-template>
                <div class="ui-g-6 ui-md-3">
                    <button pButton class="ui-button-success"  type="button" label="Dự báo thời tiết sắp diễn ra" (click)="Themmoisanpham($event)"></button>
                </div>
            </ng-template>
            <ng-template kendoGridCellTemplate let-Thoitiet>
              <div class="customer-photo">
                  <img src="{{(Thoitiet.trangthai==='Nang')?'http://icons.iconarchive.com/icons/icons-land/weather/256/Sunny-icon.png':((Thoitiet.trangthai==='Mua')?'https://library.kissclipart.com/20180905/tkw/kissclipart-cloud-rain-icon-clipart-computer-icons-rain-cloud-f2c7313d5aac0000.png':'https://icon-library.net/images/windy-weather-icon/windy-weather-icon-14.jpg')}}">
              </div>
              <div class="customer-name">
                  {{ Thoitiet.ngay | date: 'MM/dd/yyyy' }}
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="nhietdotrungbinh" title="Nhiệt độ trung bình"></kendo-grid-column>
          <kendo-grid-column field="doam" title="Độ ẩm"></kendo-grid-column>
          <kendo-grid-column field="tocdogio" title="Tốc độ gió"></kendo-grid-column>
          <kendo-grid-column field="thoigianchieusang" title="Thời gian chiếu sáng"></kendo-grid-column>
          <kendo-grid-column field="trangthai" title="Trạng thái"></kendo-grid-column>
          <kendo-grid-column title="Điều chỉnh">
              <ng-template kendoGridCellTemplate let-Thoitiet>
                <div>
                    <button kendoButton  (click)="openThemmoi(Thoitiet)" >Thay đổi dữ liệu</button>
                    <button kendoButton  (click)="open(Thoitiet)" primary="true" >Xóa dữ liệu</button>
                </div>
              </ng-template>
          </kendo-grid-column>
</kendo-grid>
<kendo-window title="{{(selectedUser == null)?'Dự báo thời tiết sắp diễn ra':'Thay đổi dữ liệu'}}" *ngIf="displayThemmoiDialog" (close)="closeThemmoi()" [minWidth]="250" [width]="450">

    <form class="k-form">
        <fieldset>
            <legend>Thông tin</legend>
            <label class="k-form-field">
                    <span>ID</span>
                    <input class="k-textbox" placeholder="ID" name="id" [(ngModel)]="id" />
                </label>
            <label class="k-form-field">
                <span>Ngày</span>
                <input class="k-textbox" placeholder="Ngày" name="ngay" [(ngModel)]="ngay" />
            </label>
            <label class="k-form-field">
                <span>Nhiệt độ trung bình</span>
                <input class="k-textbox" placeholder="Nhiệt độ trung bình" name="nhietdotrungbinh" [(ngModel)]="nhietdotrungbinh"/>
            </label>
            <label class="k-form-field">
                <span>Tốc độ gió</span>
                <input class="k-textbox" placeholder="Tốc độ gió" name="tocdogio" [(ngModel)]="tocdogio"/>
            </label>
            <label class="k-form-field">
                <span>Độ ẩm</span>
                <input class="k-textbox" placeholder="Độ ẩm" name="doam" [(ngModel)]="doam"/>
            </label>
            <label class="k-form-field">
                <span>Thời gian chiếu sáng</span>
                <input class="k-textbox" placeholder="Thời gian chiếu sáng" name="thoigianchieusang" [(ngModel)]="thoigianchieusang"/>
            </label>
            <!-- <label class="k-form-field">
                <span>Mã số tax</span>
                <input class="k-textbox" placeholder="Mã số tax" name="taxcode" [(ngModel)]="taxcode"/>
            </label>
            <label class="k-form-field">
                    <span>Lương</span>
                    <input class="k-textbox" placeholder="Lương" name="salary" [(ngModel)]="salary" />
            </label>
            <label class="k-form-field">
                    <span>Ngày sinh</span>
                    <kendo-datepicker
                name="birth" [(ngModel)]="birth"
                (valueChange)="onChange($event)"
            ></kendo-datepicker>
            <event-log title="Event log" [events]="events">
            </event-log>
            <div class="col-md-6">
            </div>
            </label> -->
        </fieldset>

        <div class="text-right">
                <button type="button" class="k-button k-primary" (click)="OnSubmit();closeThemmoi();">Lưu</button>
            <button type="button" class="k-button" (click)="closeThemmoi()">Bỏ qua</button>
        </div>
    </form>

</kendo-window>
<kendo-dialog title="Xác thực" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Bạn chắc chắn muốn xóa thông tin nhân viên {{selectedUser.name}} chứ ?</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="close('yes'); deleteUser(selectedUser);" primary="true">Có</button>
        <button kendoButton (click)="close('no')" >Không</button>
    </kendo-dialog-actions>
</kendo-dialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
</div>
