 <div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form [formGroup]="login_form" (ngSubmit)="login()">
                    <h1>Login</h1>
                    <p class="text-muted"></p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-thoitiet"></i></span>
                      </div>
                      <input type="text" name="ngay" class="form-control" placeholder="Tài khoản" [(ngModel)]="ngay" required>
                    </div>
                    <div *ngIf="ngay.invalid && (ngay.dirty || ngay.touched)" class="mb-4 alert alert-danger danger">
                      <div *ngIf="ngay.errors.required">Ngày tài khoản không được để trống.</div>
                      <div *ngIf="ngay.errors.minlength || ngay.errors.maxlength">Ngày tài khoản phải dài từ 3-255 kí tự.</div>
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" name="password" class="form-control" placeholder="Mật khẩu" [(ngModel)]="password" required>
                    </div>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="mb-4 alert alert-danger danger">
                      <div *ngIf="password.errors.required"> Mật khẩu không được để trống.</div>
                      <div *ngIf="password.errors.minlength || password.errors.maxlength">Mật khẩu phải dài từ 3-255 kí tự.</div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button type="submit" class="btn btn-primary px-4" >Login</button>
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" class="btn btn-link px-0">Forgot password?</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign up</h2>
                  
                    <button type="button" class="btn btn-primary active mt-3" routerLink='/register'>Register Now!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
   