<div class="app-body">
	<div class="workarea-content-paddings">
                                                                                                                                    
		<div class="thoitiet-profile-block-wrap">
			<div class="thoitiet-profile-block-wrap-l">
				<table class="thoitiet-profile-img-wrap">
					<tbody><tr>
						<td><img src="assets/img/profile.jpg" border="0" alt="" width="200" height="200"></td>
					</tr>
				</tbody></table>
					</div>
			<div class="thoitiet-profile-block-wrap-r">
						<div class="thoitiet-profile-events">
					<div class="thoitiet-profile-events-title">Actions</div>
					<div class="thoitiet-profile-events-cont">
						<a href="Edit My Profile.html" class="thoitiet-profile-events-item thoitiet-profile-edit"><i></i>Edit profile</a>
		
					
							
							<!--extranet to intranet-->
							
							<!-- security-->
													<a href="/company/personal/thoitiet/1/security/" class="thoitiet-profile-events-item thoitiet-profile-security"><i></i>Security</a>
							
							<!-- passwords-->
													<a href="/company/personal/thoitiet/1/passwords/" class="thoitiet-profile-events-item thoitiet-profile-pass-app"><i></i>Application passwords</a>
							
							<!-- synchronisations-->
													<a href="/company/personal/thoitiet/1/synchronize/" class="thoitiet-profile-events-item thoitiet-profile-sync-settings"><i></i>Synchronization</a>
							
							<!-- codes -->
							
								</div>
		
					<div class="thoitiet-profile-events-cont"><script>
		
					BX.message({
						SASErrorSessionWrong: 'Your session has expired. Please try again..',
						SASErrorNotAdmin: 'The current thoitiet doesn\'t have social network administrator permissions.',
						SASErrorCurrentUserNotAuthorized: 'You are not logged in.',
						SASErrorModuleNotInstalled: 'The Social Network module is not installed.',
						SASSiteId: 's1',
						SASWaitTitle: 'Please wait&hellip;',
						SASIsSessionAdmin: 'N'
					});
		
				</script><a href="#" class="thoitiet-profile-events-item thoitiet-profile-adm-mode" onclick="__SASSetAdmin(); return false;"><i></i>Admin mode</a></div>
				</div>
					</div>
			<div class="thoitiet-profile-block-wrap-cont">
				<table class="thoitiet-profile-block" cellspacing="0">
					<colgroup><col class="thoitiet-profile-block-col-1">
					<col class="thoitiet-profile-block-col-2">
					</colgroup><tbody><tr>
					   <td class="thoitiet-profile-block-title" colspan="2">Contact information</td>
					</tr>
		
					<tr>
									<td class="thoitiet-profile-nowrap">Phone number:</td>
									<td class="thoitiet-profile-nowrap-second"><a href="callto:1414721@hcmut.edu.vn">0122 678 3587</a></td>
								</tr><!--otp-->
					<tr>
									<td class="thoitiet-profile-nowrap">E-Mail:</td>
									<td class="thoitiet-profile-nowrap-second"><a href="mailto:1414721@hcmut.edu.vn">lekyvong123@hcmut.edu.vn</a></td>
								</tr><!--otp-->
		
		
					<tr>
									<td class="thoitiet-profile-nowrap">Skype:</td>
									<td class="thoitiet-profile-nowrap-second"><a href="mailto:lekyvong123@gmail.com.vn">lekyvong123@gmail.com.vn</a></td>
								</tr><!--otp-->
					<tr>
									<td class="thoitiet-profile-nowrap">Address:</td>
									<td><span class="thoitiet-profile-status-icon thoitiet-profile-status-icon-online">Long An</span></td>
								</tr><!--otp-->
					<!-- // otp -->
					<tr>
						<td class="thoitiet-profile-block-title" colspan="2">General information</td>
					</tr>
					<tr>
							<td class="thoitiet-profile-nowrap">Name:</td>
							<td>
														<span class="thoitiet-profile-status-icon thoitiet-profile-status-icon-online">Lê Kỳ Vọng</span>                                            </td>
						</tr>
		
						<tr>
							<td class="thoitiet-profile-nowrap">Gender:</td>
							<td>
														<span class="thoitiet-profile-status-icon thoitiet-profile-status-icon-online">Male</span>                                          </td>
						</tr>
		
		
					<tr>
							<td class="thoitiet-profile-nowrap">Status:</td>
							<td>
														<span class="thoitiet-profile-status-icon thoitiet-profile-status-icon-online">Online</span>                                            </td>
						</tr><tr>
										<td class="thoitiet-profile-nowrap">Position:</td>
									<td><span class="fields enumeration"><a>Manage, SEO, Professional</a></span></td>
								</tr><tr>
		
		
						</tr><tr>
							</tr><tr>
										<td class="thoitiet-profile-nowrap">Specialization</td>
									<td><span class="fields enumeration"><a>IT, TA, English</a></span></td>
								</tr><tr>
		
		
						</tr><tr>
							<td class="thoitiet-profile-block-title" colspan="2">Additional information</td>
						</tr>
		
		
						<tr>
										<td class="thoitiet-profile-nowrap">Personal ID:</td>
									<td><span class="fields enumeration"><a>076 086 132</a></span></td>
								</tr><tr>
		
						 </tr><tr>
										<td class="thoitiet-profile-nowrap">ID Issue Place :</td>
									<td><span class="fields enumeration"><a>Công an TP.HCM </a></span></td>
								</tr><tr>
							
						</tr>
		
		
						<tr><td class="thoitiet-profile-nowrap">Ethic:</td><td><a class="thoitiet-profile-link">Kinh</a></td></tr>               
							
						<tr><td class="thoitiet-profile-nowrap">Country:</td><td><span class="thoitiet-profile-status-icon thoitiet-profile-status-icon-online">Vietnam</span></td></tr>
		
		
						<tr><td class="thoitiet-profile-nowrap">Province/City:</td><td><a class="thoitiet-profile-link">Ho Chi Minh City</a></td></tr>               <tr>
							<td class="thoitiet-profile-block-title" colspan="2">My contacts</td>
						</tr>
						<tr>
							<td colspan="2">
							</td>
						</tr>
		</tbody></table>
			</div>
		</div><script type="text/javascript">
			BX.message({
				USER_PROFILE_CONFIRM : "The employee will be unable to log in to the portal, will not be shown in the company structure. However, all his or her personal data (files, messages, tasks etc.) will remain intact.\n\nAre you sure you want to close access for this employee?",
				SONET_ERROR_DELETE : "Error! The thoitiet was not deleted.",
				BX24_TITLE : "Transfer from extranet to intranet",
				BX24_TITLE_EMAIL : "Transfer to intranet",
				BX24_BUTTON : "Transfer",
				BX24_CLOSE_BUTTON : "Close",
				BX24_LOADING : "loading",
				BX24_EXTR_USER_ID: "1",
				SONET_REINVITE_ACCESS: "Invite has been sent",
				SONET_OTP_SUCCESS_POPUP_TEXT : "<b>Congratulations!<\/b>\n<br/><br/>\nYou have now set up two-step authentication for you account.\n<br/><br/>",
				SONET_OTP_SUCCESS_POPUP_TEXT_RES_CODE : "Remember to keep the <b>recovery codes<\/b> you may need for logging on if your mobile device is lost or one-time code cannot be obtained otherwise.<br/><br/>",
				SONET_OTP_SUCCESS_POPUP_TEXT2 : "Notice that exchanging data with external services (calendars etc.) will require the use of application specific passwords. You can manage those in your profile.",
				SONET_OTP_SUCCESS_POPUP_CLOSE : "Close",
				SONET_OTP_SUCCESS_POPUP_PASSWORDS : "Configure application passwords",
				SONET_OTP_CODES : "Recovery codes"
			});
		
			var socnetUserProfileObj = new BX.Socialnetwork.Thoitiet.Profile({'ajaxPath':'/bitrix/templates/bitrix24/components/bitrix/socialnetwork.user_profile/.default/ajax.php','siteId':'s1','otpDays':{'1':'1 day','2':'2 days','3':'3 days','4':'4 days','5':'5 days','6':'6 days','7':'7 days','8':'8 days','9':'9 days','10':'10 days','0':'always'},'showOtpPopup':'N','otpRecoveryCodes':'Y','profileUrl':'/company/personal/thoitiet/1/','passwordsUrl':'/company/personal/thoitiet/1/passwords/','codesUrl':'/company/personal/thoitiet/1/codes/'});
		</script>
		
													</div>
</div>

